@import "variables";

.cabecalho {
  background-color: $azul;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.centered {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-aligned {
  flex: 1;
  display: flex;
  justify-content: right;
}

.spacer {
  flex: 1;
}

.carrinho {
  color: $preto;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px 10px;
}
