@import "variables";

.cabecalho {
  background-color: $azul;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.centered {
  flex: 1;
  display: flex;
  justify-content: center;
}

.right-aligned {
  flex: 1;
  display: flex;
  justify-content: right;
}

.spacer {
  flex: 1;
}

.right-aligned {
  flex: 1;
}

.carrinho {
  color: $preto;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px 10px;
}

.notification-label {
  position: absolute;
  top: 0.6%;
  font-size: 12px;
  font-weight: 700;
  line-height: 13px;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background-color: #f44336;
  border: 4px solid #f44336;
  color: white;
  text-align: center;
}
