@import "variables";

.card {
  max-width: 300px;
  border-radius: 10px;
}

.botao {
  background-color: $laranja !important;
  color: #fff !important;
  font-family: "Caprasimo";
  font-weight: 500;
  width: 50%;
}

.titulo {
  font-family: "Caprasimo";
}

.preco {
  font-family: "Caprasimo";
  color: $azul;
  font-size: x-large;
}
